

body {
    margin: 0px;
}

.header{
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #000009;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 26px;
}


.navigation .nav-links{
    text-decoration:none;
    display: flex;
    gap: 16px;
}

.nav-links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration:none;
}

button {
    background-color: #7e1921;
    color: #e5e7eb;
    border: 2px solid #7e1921; /* Set the border width, style, and color */
    padding: 10px 20px; /* Set the padding around the button content */
    margin: 5px; /* Set the margin around the button */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Set a box shadow for a 3D effect */
}

button:hover {
    background-color: #d41936; /* Set the background color on hover */
    color: #e5e7eb; /* Set the text color on hover */
}

.navigation #logo{
    width: 100px;
    height: auto;
    padding-right: 16px;
}
.intro {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 100px;
}

.intro .intro-text{
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    max-width: 500px;
}

.intro-text h1{
    font-weight: 800px;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 10px;
}

.intro-text p{
    margin-top: 0px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.intro img{
    min-width: 0px;
    min-height: auto;
    flex-shrink: 1;
}


h2 {
    text-align: center;
}

.img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.img-text .item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.img-text .item p{
    max-width: 300px;
    text-align: center;
}

.img-text .item img{
    border: 2px solid black;
    border-radius: 30px;
    width: 250px;
    height: auto;
}

.img-text .item #big{
    width: 199px;
    height: auto;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #7e1921;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.info h2{
    font-size: 36px;
    font-weight: 800;
}

.quote-box{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    align-content: center;
    padding: 80px 0px;
    background-color: 	#961c26;
    color: #e5e7eb;
    font-style: italic;
    font-size: 26px;
    font-weight: 300;
}

.quote-box h3{
    margin-left: 16px;
    margin-right: 16px;
    max-width: 1200px;
    margin-bottom: 0px;
}

.quote-box b{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
}

.wrapper{
    margin: 80px;
    background-color: #d41936;
    color: #f9faf8;
}
.signup{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0px;
}

.signup .signup-text {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    margin: 0px 16px;
}

.signup .signup-text h4{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #e5e7eb;
    font-size: 36px;
    font-weight: 800;
}

.signup .signup-text p{
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
