*{
    border: 1px solid red;
}

.header{
    padding-bottom: 30px;
    background-color: greenyellow;
    margin: -10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 16px;
}


.navigation .nav-links{
    display: flex;
    gap: 16px;
}

.intro {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 100px;
}

.intro .intro-text{
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    max-width: 330px;
}